body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  
}

h1 .highlight {
  
}

h2 {
  
}

.App {
  
}

.App-playlist {
  
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}